$font-family: 'Poppins', sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-thin: 100;

// palette: https://flatuicolors.com/palette/se
$bg-color: #1e272e;
$font-color: #d2dae2;
$primary-color: #ef5777;
$primary-inverted-color: #ffffff;
