@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $font-color;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: $font-regular;
}

strong {
  font-weight: $font-bold;
}

h1,
h2,
h3 {
  padding: 0;
  margin: .25rem 0;
  font-weight: $font-bold;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: $font-bold;
}

section {
  display: block;
  margin: 2rem auto;
  padding: .5rem;
  max-width: 600px;
}

#toast {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}

@import './components/_all.scss';
@import './_utils.scss';
