@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $font-color;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: $font-regular;
}

strong {
  font-weight: $font-bold;
}

h1,
h2,
h3 {
  padding: 0;
  margin: .25rem 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: $font-bold;
}

@import './components/_all.scss';
@import './_utils.scss';
