@import '../variables.scss';

form {
  > div {
    margin: 1rem 0;

    > fieldset {
      display: flex;
      flex-wrap: wrap;
      border: 0;
      padding: 0;
      margin: 0;
      gap: .25rem;

      > legend,
      > .helptext {
        flex-basis: 100%;
      }

      > input,
      > select {
        flex-grow: 5;
        flex-shrink: 5;
        flex-basis: 0;
      }

      > select[data-prefix-phone-number] {
        flex-grow: 2;
      }
    }

    label,
    legend {
      display: block;
    }

    legend {
      padding: 0;
    }

    .helptext {
      font-size: .5rem;
      font-weight: $font-thin;
    }

    label,
    .helptext {
      margin: .125rem 0;
    }

    input,
    select {
      display: block;
      margin: .5rem 0;
      width: 100%;
      font-size: 1.5rem;
    }
  }
}

button,
.button {
  font-size: .75rem;
  background-color: $primary-color;
  color: $primary-inverted-color;
  font-family: $font-family;
  font-weight: $font-regular;
  border-radius: .25rem;
  border-style: solid;
  border-width: 0;
  padding: .5rem .75rem;
  margin: 0;
  cursor: pointer;
}
