@import '../variables.scss';

header {
  text-align: center;

  &.fixed {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px 2rem 2rem -2rem rgba(0, 0, 0, 1);
    gap: .5rem;

    > div {
      align-items: center;
      flex-grow: 0;

      &.grow {
        flex-grow: 1;
        min-width: 0;
      }

      label.open-sidebar {
        display: flex;
        gap: .5rem;
        padding: 1.25rem .5rem;
        cursor: pointer;
      }

      h1 {
        font-size: 1.25rem;
        font-weight: $font-bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          color: $font-color;
        }
      }
    }
  }

  &.banner {
    text-align: left;
    padding: 5rem 0;
    background: linear-gradient(0deg, rgba(30, 39, 46, 1) 0%, rgba(72, 84, 96, .5) 100%);
  }
}

.header-saver {
  display: block;
  height: 2.375rem;
}
