.pagination {
  margin: .25rem;
  text-align: center;

  > .next {
    display: inline-block;
    padding: .5rem 1rem;
    text-align: center;
    color: #d2dae2;
    background-color: rgba(72, 84, 96, .5);
    border-radius: .25rem;

    &:hover {
      background-color: rgba(72, 84, 96, .75);
    }
  }
}
